<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'creating_emp' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="enter emp name " required>
        <input type="text" name="dept" placeholder="enter dept of emp here " required>
        <input type="email" name="email" placeholder="enter emp email here " required>
        <button type="submit">addEmp</button>
    </form>

    <button id="getAllEmpss">getAllEmpsData</button>

    <div id="container"></div>

    <script>
        document.getElementById("getAllEmpss").addEventListener("click",()=>{
            fetch("{% url 'getAll_emps' %}").then(res=>res.json()).then(res=>{
                // console.log(res)
               console.log( res.employees)
              let  allCards=document.getElementById("container")
               res.employees.forEach((emp,index)=>{
                 let p=document.createElement("p")
                 p.innerHTML=`
               ${emp.name}
                 `
                 allCards.append(p)
               })
            }).catch(err=>console.log(err))
        })
    </script>
</body>
</html>